#message {
    color: black;
}

.curve {
    width: 900px;
    height: 927px;
    object-fit: cover;
    z-index: -1;
    position: absolute; /* Change to absolute for better layering control */
    top: 0;
    left: 0;
    /* Ensure the image is placed in the background and not affecting layout */
}

h1 {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 20px;
    z-index: 1; /* Ensure text is above the image */
    font-size: 2.5rem;
}
h1:hover {
    color: #072e339d;/* Change text color on hover */
    text-shadow: 0 0 8px rgba(247, 247, 247, 0.753); /* Add a shadow effect */
}

