body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 50px; /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px; /* Increased max-width */
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 25px; /* Adjusted margin */
  color: #333;
  font-weight: 600;
  font-size: 1.5em; /* Increased font size */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px; /* Increased font size */
  margin-bottom: 8px; /* Adjusted margin */
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 12px; /* Increased padding */
  font-size: 16px; /* Increased font size */
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 25px; /* Adjusted margin */
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #333;
}

button[type="submit"] {
  padding: 12px 20px; /* Increased padding */
  font-size: 18px; /* Increased font size */
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #555;
}

p {
  text-align: center;
  font-size: 16px; /* Increased font size */
  color: #555;
}

p button {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  font-size: 16px; /* Increased font size */
  padding: 0;
  margin: 0;
  transition: color 0.3s;
}

p button:hover {
  color: #0056b3;
}

.input1, .input2, .input3 {
    font-weight: bold;
    font-size: large;
}
