.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(167, 140, 140);
    font-weight: 600;
    margin-top: 30px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 5px;
}
.modal-body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;}
.form input {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
.form-button {
    background-color: rgb(172, 95, 95);
    border-radius: 5px;
    height: 25px;
    width:60px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    font-size: 15px;

}
.form-button:hover{
 background-color: brown;
}
