body {
  margin: 0;
  padding: 0;
}

.NavBar {
  height: 100%;
  width: 250px; /* Expanded width */
  background-color: #05161A;
  transition: width 0.3s ease; /* Smooth transition */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.NavBar.collapsed {
  width: 60px; /* Collapsed width */
}

.NavBarList {
  flex-grow: 1;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.NavBarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.NavBarList .row:hover {
  cursor: pointer;
  background-color: #0F969C;
}

.NavBarList #active {
  background-color: #294D61;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  transition: opacity 0.3s ease; /* Smooth transition for text opacity */
}

.NavBar.collapsed .row #title {
  opacity: 0;
  pointer-events: none;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
  padding: 0;
}

.logout-row {
  margin-top: auto; /* Pushes the logout button to the bottom */
}
