table {
    max-width: max-content;
    border-collapse: collapse;
    margin: 20px 20px;
    font-size: 1rem;
    text-align: left;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
td, th {
    padding: 5px 15px;
}
th {
    background-color: #05161A;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color:#0f959c6b;
}
td {
    border-bottom: 1px solid #ddd;
}
h2 {
    color: #add8e6;
    margin-bottom: 20px;
}
